table {
    width:100%;
    margin-top: 10px;
  }
  
.button-row {
    margin-top: 10px;
}

.mat-header-cell{
    font-weight: bold;
}

.mat-stroked-button{
    min-width: 30px;
    margin-right: 3px
}